---
layout: post 
title: CMRIT College Magazine
author: mca
permalink: /_post/
---
<html>
<style>
body{
background: linear-gradient(to right, rgba(255,100,0,0), rgba(255,100,0,8));
}
h1{
color:purple;
text-align:center;
font-family:Georgia;
font-style:italic;
text-shadow: 2px 2px 5px red;
}
p{
font-size:20px;
 line-height: 1.5;
}
</style>
<body>

<h1><i>MCA 2k18 NEWSLETTER<i></h1><br/>
<p>The College Magazine team works to bring out the annual official student-publication of CMRIT MCA(Department). 

Each year, our team of editors, designers, photographers, and correspondents, in addition to generating creative content from the student population, work extensively to report on events in and around college.<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp The final publication reflects and encompasses the diversity inherent to the academic and extra-curricular spaces in CMRIT – we have in the past, included sections in various Indian languages, and have interviewed and featured articles by distinguished international authors, academicians, and exemplary CMRIT students. 

With the onset of the working year 2017-2018, the College Magazine has functioned as an independent society (in the years previous to this, it worked in conjunction with Expressions, The Creative Writing Society, and the Book Club). Its primary focus has been geared at covering events and notable issues within the college, as well as writing articles and conducting interviews aimed at navigating the student body’s associations and relationships with current events, popular culture, academics, and so on. 

<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp The magazine continues to expand its reach to achieve its vision of being a truly representative student publication. We have recently expanded into the digital world through the inception of our blog, where we try and engage the college community by publishing their creative content regularly, by organizing competitions, and through continued and rapid reporting about college events. 

The team hopes to build on this ethos just as much during the upcoming academic years. </p>
<img src="a9.jpg"/>
</body>
</html>
